* {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
  min-height: 100vh;
  background-image: url("./img/background-image.png");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 0px;
  font-size: 36px;
  display: inline-block;
  border: 10px solid #de1010;
  border-radius: 10px;
  padding: 10px;
  background-size: 8.95px 8.35px;
  background-color: white;
  background-image:
    linear-gradient(to right, lightgrey 1px, transparent 1px),
    linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}

button {
  width: 200px;
  border-radius: 0px;
  border-width: 1px 1px;
}

p {
  margin: 0px;
}

#main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#header {
  text-align: center;
  margin-top: 10px;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

#left-toolbar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  margin-bottom: 10px;
}

#right-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 310px;
}

#drawing-canvas {
  --minDim: min(80vh, 80vw);
  min-height: min(var(--minDim), 800px);
  max-height: min(var(--minDim), 800px);
  min-width: min(var(--minDim), 800px);
  max-width: min(var(--minDim), 800px);
  border: 0.1px solid black;
  display: flex;
  flex-direction: column;
}

#drawing-canvas-container {
  --borderWidth: min(2.5vh, 24.375px);
  border: var(--borderWidth) solid #de1010;
  border-radius: var(--borderWidth);
  margin-bottom: 10px;
  background-color: white;

}

.canvas-row {
  display: flex;
  flex: 1 1 10px;
}

.canvas-element {
  flex: 1 1 10px;
  user-select: none;
}

#opacity-slider, #new-dimensions-slider {
  user-select: none;
}

.canvas-include-row-border {
  border-bottom: 0.1px solid black;
}

.canvas-include-element-border {
  border-right: 0.1px solid black;
}

.canvas-include-row-border.borders-bottom {
  border-bottom: none;
}

.canvas-include-element-border.borders-right {
  border-right: none;
}

.brush-active, .eraser-active, .fill-active, .set-dimensions-view-options-active {
  background-color: blue;
  color: white;
}

.remove-color-active {
  background-color: red;
  color: white;
}

.fill-icon {
  cursor: crosshair;
}

#brush-options, #color-palette-container, #opacity-container, #canvas-options-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 0px;
  width: 300px;
  box-shadow: 0px 0px 10px gray;
}

.toolbar-header {
  background-color: aliceblue;
  border-bottom: 2px solid black;
  font-size: 22px;
  font-weight: 500;
}

#brush-options-choices {
  display: flex;
}

#color-palette-container {
  align-items: stretch;
  background-color: white;
}

#add-color {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

#add-color-button {
  flex: 1 1 0;
}

#add-color-choose-color {
  flex: 1 1 0;
  border-radius: 0px;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  row-gap: 10px;
  column-gap: 15px;
  margin-bottom: 10px;
}

.color-palette-element {
  border: 1px solid gray;
  width: 23px;
  height: 23px;
  transition: 200ms;
}

.color-palette-element:hover {
  background-color: white;
  transform: scale(1.1);
}

.color-palette-element-active {
  border: 2px solid black;
  width: 21px;
  height: 21px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.remove-color-highlight {
  background-image: url(./img/x.svg);
}

#remove-color-button {
  width: auto;
}

#opacity-header {
  background-color: aliceblue;
  border-bottom: 2px solid black;
  display: flex;
}

#opacity-header p, #opacity-header div {
  font-size: 22px;
}

.expand {
  flex-grow: 1;
}

#opacity-content {
  display: flex;
  justify-content: space-between;
  background-color: white;

}

#opacity-color-preview {
  margin: 10px 10px;
  width: 40px;
  height: 40px;
}

#canvas-options-container button {
  width: auto;
}

#set-dimensions-container {
  display: flex;
  flex-direction: column;
}

#set-dimensions-choice {
  background-color: white;
}