body {
  margin: 0px;
  min-height: 100vh;
}

h1 {
  margin: 0px;
}

button {
  width: 200px;
}

#main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#header {
  text-align: center;
}

#main-container {
  display: flex;
}

#left-toolbar {
  flex: 1 1 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#right-toolbar {
  flex: 1 1 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#drawing-canvas {
  height: 800px;
  width: 800px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.canvas-row {
  display: flex;
  flex: 1 1 10px;
}

.canvas-element {
  flex: 1 1 10px;
  user-select: none;
}

.canvas-include-row-border {
  border-bottom: 1px solid black;
}

.canvas-include-element-border {
  border-right: 1px solid black;
}

.canvas-include-row-border.borders-bottom {
  border-bottom: none;
}

.canvas-include-element-border.borders-right {
  border-right: none;
}

.brush-active, .eraser-active, .fill-active {
  background-color: blue;
  color: white;
}

.fill-icon {
  cursor: crosshair;
}